## vim: ft=ini

[client]
compress
port = 3306
host = 127.0.0.1
ssl-mode = required
ssl-fips-mode = on
tls-version = 1.2

[mysqldump]
compress
quick
quote-names
max_allowed_packet = 16M
column-statistics = 0
ssl-mode = required
ssl-fips-mode = on
tls-version = 1.2
